<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!--link to main styleshee-->
    <link rel="stylesheet"type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <div class="container">
    
    {{ content }}
      
    </div>
    <footer>
      <ul>
        <li><a href="https://github.com/Abhinav-kk">github.com/Abhinav-kk</a></li>
        <li><a href="https://Abhinav-kk.github.io">Abhinav-kk.github.io</a></li>
      </ul>
    </footer>?
  </body>
</html>
